NODE_ENV=production
REACT_APP_GRAPHQL_ENDPOINT="<your custom API endpoint e.g. https://XXXXXXXXXX.execute-api.us-east-1.amazonaws.com/production/graphql>"
DATABASE_URL="<your custom DB endpoint e.g. postgres://${username}:{password}@${endpoint):5432/${dbName}>"
DATABASE_TYPE="<pg || mysql>"
REACT_APP_MAPBOX_TOKEN="<your mapbox token>"
SKIP_PREFLIGHT_CHECK=true
SLS_DEBUG=true
AWS_ACCESS_KEY_ID="<your aws access key id>"
AWS_SECRET_ACCESS_KEY="<your aws secret access key>"
REACT_APP_GOOGLE_CLIENT_ID="<your google client id>"
REACT_APP_FACEBOOK_APP_ID="<your facebook app id>"